{% extends 'base.html' %}

{% block custom_css %}
    <style>
        .img-box {
            display: block;
            width: 100px;
            max-width: 150px;
            max-height: 95px;
            height: auto;
        }

        .list-block {
            height: 200px;
        }


        .product-link, .product-link:hover {
            text-decoration: none !important;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="container-md">
        <div class="row">
            <div class="col-8 mx-auto my-2 text-muted h5">
                Searched for "{{ request.GET.q }}"
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 mx-auto mt-1">
                {% for object in object_list %}
                    <a href="{{ object.get_absolute_url }}" class="product-link">

                        <div class="row list-block justify-content-center">
                            <div class="col-2 p-2 mb-1">
                                <div class="img-box">
                                    {% if object.main_image %}
                                        <img src="{{ object.main_image.url }}" class="img-fluid" alt="">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-6">
                                {% include 'products/snippets/in_list_product_details.html' with object=object %}
                            </div>
                            <div class="col-3 text-dark h4">
                                {{ object.initial_price }}
                            </div>
                        </div>
                    </a>
                    <hr>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
